{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="col-md-5">
                <h2>{% trans 'Poll' %}</h2>
                <p>{% blocktrans %}Welcome to BitPoll, your go-to platform for seamless event scheduling and interactive polling services. Our mission is to simplify the process of planning events and making important decisions. Whether you're coordinating team meetings, social gatherings, or business conferences, our app empowers you to effortlessly set up polls to find the best dates and times that work for everyone. Say goodbye to the hassle of back-and-forth emails and confusion about scheduling. With [Your App Name], you're in control of creating events that fit perfectly into everyone's busy lives. Join us in revolutionizing event planning and decision-making – one poll at a time{% endblocktrans %}</p>
            </div>
        </div>
    </section>
{% endblock %}
